<%= form_with(model: twoot) do |form| %>
  <% if twoot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twoot.errors.count, "error") %> prohibited this twoot from being saved:</h2>

      <ul>
        <% twoot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :twoot %>
    <%= form.text_area :twoot %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
