<p id="notice"><%= notice %></p>

<h1>Twoots</h1>

<table>
  <thead>
    <tr>
      <th>Twoot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @twoots.each do |twoot| %>
      <tr>
        <td><%= twoot.twoot %></td>
        <td><%= link_to 'Show', twoot %></td>
        <td><%= link_to 'Edit', edit_twoot_path(twoot) %></td>
        <td><%= link_to 'Destroy', twoot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Twoot', new_twoot_path %>
